{% extends '@App/admin.layout.html.twig' %}

{% block categories %}
    {% for cat in categories %}
        <a href="{{ path('admin_category_item', {id:cat.id}) }}" class="hover_nav">{{ cat.name }}</a>
    {% endfor %}
{% endblock %}

{% block categories_mobile %}
    {% for cat in categories %}
        <li><a href="{{ path('admin_category_item', {id:cat.id}) }}" style="padding: 12px 20px 12px 60px; line-height: normal; height: auto;">- {{ cat.name }}</a></li>
    {% endfor %}
{% endblock %}

{% block body %}
    <br><br><br>
    <div class="mst_popular">
        <h5>Добавить продукт</h5>
    </div>

    <br>

    <div class="delivery">
        <div class="addProduct">
            <form method="post">
                <input type="text" placeholder="Название продукта" class="newCategory" name="title"><br>
                <p>Категория</p>
                <select name="category" style="display: block">
                    {% for category in categories  %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select><br>
                <textarea rows="10" cols="45" placeholder="Описание продукта..." name="description"></textarea><br>
                <input type="text" placeholder="URL картинки" class="newCategory" name="image"><br>
                <input type="number" placeholder="Цена" class="newCategory" min="0" name="price"><br>
                <button type="submit" >Создать</button>
            </form>
        </div>
    </div>

    <br><br>
{% endblock %}

{% block javascripts %}

{% endblock %}
