{% extends '@App/layout.html.twig' %}

{% block categories %}
    {% for cat in categories %}
        <a href="{{ path('category_item', {id:cat.id}) }}" class="hover_nav">{{ cat.name }}</a>
    {% endfor %}
{% endblock %}

{% block categories_mobile %}
    {% for cat in categories %}
        <li><a href="{{ path('category_item', {id:cat.id}) }}" style="padding: 12px 20px 12px 60px; line-height: normal; height: auto;">- {{ cat.name }}</a></li>
    {% endfor %}
{% endblock %}

{% block body %}
    <div class="index">
        <h3>Регистрация</h3><br>
        <div class="registration">
            {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}

            <button type="submit">Отправить</button>
            {{ form_end(form) }}
        </div>
    </div>

    <br><br>
{% endblock %}

{% block stylesheets %}
    <style>
        input[type=text]:not(.browser-default), input[type=email]:not(.browser-default) {
            margin-left: 20px !important;
        }

        .registration {
            width: 360px;
            margin: 0 auto;
        }

        @media only screen and (max-width : 400px) {
            .registration {
                width: 100%;
                padding: 10px;
            }

            input[type=text]:not(.browser-default) {
                margin-left: 0 !important;
                width: 100% !important;
            }

            input[type=email]:not(.browser-default) {
                margin-left: 0 !important;
                width: 100% !important;
            }

            input[type=password]:not(.browser-default) {
                width: 100% !important;
            }
        }

        @media only screen and (min-width : 993px) {
            footer {
                position: fixed;
                left: 0px;
                bottom: 0px;
                height: 282px;
                width: 100%;
            }

            /* IE 6 */
            * html footer {
                position: absolute;
                top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
            }
        }
    </style>
{% endblock %}